.header {
  background-color: #80a0c1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.navbar-brand {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--dark-color);
}

.navbar-logo {
  height: 40px;
  width: auto;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.nav-item {
  margin: 0;
}
